.header {
    grid-area: h;
    background-color: midnightblue;
}
  
.header img {
    float: left;
    max-width: 90px;
    height: auto;
}

.loginBlock {
    float: right;
    color: white;
}

.loginBlock a {
    color: white;
}

.loginBlock img {
    max-width: 60px;
    height: auto;
    float: right;
    padding: 5px;
    border-radius: 35px;
}