.profile_info {

}

.wallpaper {
    width: 400px;
    height: 300px;
}

.ava_description {
    display: flex;
    padding: 15px;
}

.ava img {
    width: 80px;
    border-radius: 10px;
}

.description {
    background-color: white;
    margin-left: 50px;
}





